---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Summary from '../components/Summary.astro';
import Competencies from '../components/Competencies.astro';
import Skills from '../components/Skills.astro';
import Experience from '../components/Experience.astro';
import Education from '../components/Education.astro';
import References from '../components/References.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <Header />
  <main id="main">
    <Hero />
    <Summary />
    <Competencies />
    <Skills />
    <Experience />
    <Education />
    <References />
  </main>
  <Footer />
</BaseLayout>
